{% extends "blog/base.html" %}
{% load static %}
{% block title %}
Share a post
{% endblock title %}
{% block content %}


{% if sent %}
<h1> E-Mail successfully sent </h1>
<p> "{{ post.title }}" was successfull sent to {{ cd.to}}
</p>


{% else %}
<h1> Share "{{ post.title }} " by e-mail </h1>
<!-- <form action ="." method="post"> -->
<!-- {{ form.as_p }} -->


<!-- <input type ="submit", value ="Send email"> -->
<!-- </form> -->

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as
                possible!</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            {% if form.errors %}
            <p class="help-block text-danger">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
            {% endif %}




            <form name="sentMessage" id="contactForm" novalidate action`="." method="POST">
                {% csrf_token %}

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                            <p class="help-block text-danger">{{ form.name.errors}}</p>
                        <label>Name</label>
                        {{ form.name}}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        {{ form.email.errors }}
                        <label>Email Address</label>
                        {{ form.email}}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">

                            <p class="help-block text-danger">{{ form.to.errors}}</p>
                        <label>To Email Address</label>
                        {{ form.to}}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <div class="control-group">
                    <div class="form-group floating-label-form-group controls">
                        <label>Message</label>
                        {{ form.comments}}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>

                <br>
                <div id="success"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary float=right" id="sendMessageButton">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>





{% endif %}
{% endblock content %}


({'placeholder': 'Search'})